<% provide(:title, 'Media') %>

<style>
	body {
	  background-color:#d0e4fe;
	}
</style>

<h1>Media</h1>
<p>
	This is the media page for the
	<a href="https://github.com/Dev-Dipesh/tweet360">Tweet360</a> web application.
</p>
