<% provide(:title, 'Privacy') %>

<style>
	body {
	  background-color:#d0e4fe;
	}
</style>

<h1>Privacy</h1>
<p>
	This is the privacy policies page for the
	<a href="https://github.com/Dev-Dipesh/tweet360">Tweet360</a> web application.
</p>
